// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../../core/resource';
import * as JobsAPI from '../../core/jobs';
import * as ActionsAPI from '../../catalog/item-categories/actions';
import * as UnitGroupsActionsAPI from '../../catalog/unit-groups/actions';
import * as ProductionStepsActionsAPI from '../production-steps/actions';
import { APIPromise } from '../../../core/api-promise';
import { RequestOptions } from '../../../internal/request-options';

/**
 * List, view, create, update, and delete production runs.
 */
export class Actions extends APIResource {
  /**
   * Creates multiple production runs with their batches. Validates and resolves
   * synchronously, then writes asynchronously — 202 with a job whose `results`
   * already carry the new ids.
   *
   * @example
   * ```ts
   * const job =
   *   await client.operations.productionRuns.actions.bulkCreate(
   *     {
   *       production_runs: [
   *         {
   *           responsible_user_id: 'us_43irtlt2ajz6',
   *           batches: [
   *             {
   *               item: {
   *                 id: 'it_pej07ckhvu62',
   *                 sku: 'ALM-2024-1001',
   *               },
   *               quantity_value: '100.0',
   *               quantity_unit: {
   *                 id: 'un_82bd37dae5po',
   *                 name: 'Kilogram',
   *                 abbreviation: 'kg',
   *               },
   *               production_step_id: 'prst_0ht5mkqx5a6t',
   *             },
   *           ],
   *         },
   *       ],
   *     },
   *   );
   * ```
   */
  bulkCreate(body: ActionBulkCreateParams, options?: RequestOptions): APIPromise<JobsAPI.Job> {
    return this._client.post('/v1/operations/production-runs/actions/bulk-create', { body, ...options });
  }

  /**
   * Starts an export of every matching production run and returns the job that
   * tracks it; the file lists a run's batches one per row.
   *
   * @example
   * ```ts
   * const job =
   *   await client.operations.productionRuns.actions.export({
   *     q: null,
   *   });
   * ```
   */
  export(body: ActionExportParams, options?: RequestOptions): APIPromise<JobsAPI.Job> {
    return this._client.post('/v1/operations/production-runs/actions/export', { body, ...options });
  }
}

/**
 * Batch in a bulk production run create.
 */
export interface BulkCreateBatchInput {
  /**
   * -------------------------- ITEM -------------------------- Identifies an item by
   * its id or its SKU. An id wins when both are given.
   */
  item: ProductionStepsActionsAPI.ItemIdentifier;

  /**
   * -------------------------- UNIT -------------------------- Identifies a unit by
   * its id, its name, or its abbreviation, in that order of precedence.
   */
  quantity_unit: UnitGroupsActionsAPI.UnitIdentifier;

  /**
   * Good quantity produced by the batch, as a decimal string.
   */
  quantity_value: string;

  /**
   * ID of the production step the batch is recorded against.
   */
  production_step_id?: string;

  /**
   * -------------------------- Named Object -------------------------- Identifies an
   * object by its id or its name. An id wins when both are given.
   */
  scanning_station?: ActionsAPI.ObjectIdentifier;

  /**
   * -------------------------- UNIT -------------------------- Identifies a unit by
   * its id, its name, or its abbreviation, in that order of precedence.
   */
  seconds_unit?: UnitGroupsActionsAPI.UnitIdentifier;

  /**
   * Run time spent on the batch, as a decimal string. Ignored unless `seconds_unit`
   * is also provided.
   */
  seconds_value?: string;

  /**
   * -------------------------- UNIT -------------------------- Identifies a unit by
   * its id, its name, or its abbreviation, in that order of precedence.
   */
  waste_unit?: UnitGroupsActionsAPI.UnitIdentifier;

  /**
   * Scrap quantity generated by the batch, as a decimal string. Ignored unless
   * `waste_unit` is also provided.
   */
  waste_value?: string;
}

/**
 * Production run to create, with its batches.
 */
export interface BulkCreateProductionRunInput {
  /**
   * Batches created with the run. At least one is required.
   */
  batches: Array<BulkCreateBatchInput>;

  /**
   * Account user accountable for executing the run. Accepts either an account user
   * id or a user id; it is resolved and stored as the account user.
   */
  responsible_user_id: string;
}

/**
 * Request to bulk create production runs.
 */
export interface BulkCreateProductionRunsRequest {
  /**
   * Production runs to create, each owning its batches. Run numbers are assigned
   * automatically as the next sequential numbers for the account.
   */
  production_runs: Array<BulkCreateProductionRunInput>;
}

/**
 * Filters which production runs land in the exported file.
 */
export interface ExportProductionRunsRequest {
  /**
   * Free-text search term matched against production run numbers.
   */
  q: string | null;
}

export interface ActionBulkCreateParams {
  /**
   * Production runs to create, each owning its batches. Run numbers are assigned
   * automatically as the next sequential numbers for the account.
   */
  production_runs: Array<BulkCreateProductionRunInput>;
}

export interface ActionExportParams {
  /**
   * Free-text search term matched against production run numbers.
   */
  q: string | null;
}

export declare namespace Actions {
  export {
    type BulkCreateBatchInput as BulkCreateBatchInput,
    type BulkCreateProductionRunInput as BulkCreateProductionRunInput,
    type BulkCreateProductionRunsRequest as BulkCreateProductionRunsRequest,
    type ExportProductionRunsRequest as ExportProductionRunsRequest,
    type ActionBulkCreateParams as ActionBulkCreateParams,
    type ActionExportParams as ActionExportParams,
  };
}
