// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../../core/resource';
import * as ScanningStationsAPI from '../scanning-stations';
import { APIPromise } from '../../../core/api-promise';
import { RequestOptions } from '../../../internal/request-options';
import { path } from '../../../internal/utils/path';

/**
 * List, view, create, update, and delete production runs.
 */
export class Batches extends APIResource {
  /**
   * Adds batches to a production run.
   *
   * Fails if the run has been completed.
   *
   * This endpoint requires the permission: `production_runs:update`.
   *
   * @example
   * ```ts
   * const listBatch =
   *   await client.operations.productionRuns.batches.create(
   *     'prru_0141c28081df4faac0fe726c41',
   *     {
   *       batches: [
   *         {
   *           item_id: 'it_0131e386ac683e8c29a71f6f1f',
   *           quantity_value: '100',
   *           quantity_unit_id: 'un_01966263f74a5a0cae356000a1',
   *           production_step_id:
   *             'prst_0159474175bb59f4b1990404ee',
   *         },
   *       ],
   *     },
   *   );
   * ```
   */
  create(
    id: string,
    body: BatchCreateParams,
    options?: RequestOptions,
  ): APIPromise<ScanningStationsAPI.ListBatch> {
    return this._client.post(path`/v1/operations/production-runs/${id}/batches`, { body, ...options });
  }

  /**
   * Returns a paginated list of batches associated with a production run.
   *
   * This endpoint requires the permission: `production_runs:read`.
   *
   * @example
   * ```ts
   * const listBatch =
   *   await client.operations.productionRuns.batches.list(
   *     'prru_0141c28081df4faac0fe726c41',
   *   );
   * ```
   */
  list(
    id: string,
    query: BatchListParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<ScanningStationsAPI.ListBatch> {
    return this._client.get(path`/v1/operations/production-runs/${id}/batches`, { query, ...options });
  }
}

/**
 * Batch to add to a production run.
 */
export interface AddBatchInputRequest {
  /**
   * ID of the item the batch produces.
   */
  item_id: string;

  /**
   * Unit ID for `quantity_value`.
   */
  quantity_unit_id: string;

  /**
   * Good quantity produced by the batch, as a decimal string.
   */
  quantity_value: string;

  /**
   * ID of the production step the batch is recorded against.
   */
  production_step_id?: string;

  /**
   * ID of the scanning station where the batch will be scanned.
   */
  scanning_station_id?: string;

  /**
   * Unit ID for `seconds_value`.
   */
  seconds_unit_id?: string;

  /**
   * Run time spent on the batch, as a decimal string.
   *
   * Ignored unless `seconds_unit_id` is also provided.
   */
  seconds_value?: string;

  /**
   * Unit ID for `waste_value`.
   */
  waste_unit_id?: string;

  /**
   * Scrap quantity generated by the batch, as a decimal string.
   *
   * Ignored unless `waste_unit_id` is also provided.
   */
  waste_value?: string;
}

/**
 * Request to add batches to a production run.
 */
export interface AddBatchesToProductionRunRequest {
  /**
   * Batches to add.
   *
   * At least one batch is required.
   */
  batches: Array<AddBatchInputRequest>;
}

export interface BatchCreateParams {
  /**
   * Batches to add.
   *
   * At least one batch is required.
   */
  batches: Array<AddBatchInputRequest>;
}

export interface BatchListParams {
  /**
   * Opaque cursor token identifying where the page of results starts.
   *
   * Use the `cursor` value embedded in a previous response's `next_page_url` or
   * `previous_page_url` to fetch the adjacent page. Omit to start from the first
   * page.
   */
  cursor?: string;

  /**
   * Maximum number of results to return in a single page.
   */
  limit?: number;

  /**
   * Free-text search term used to filter results.
   *
   * Which fields are matched against the term varies by endpoint.
   */
  q?: string;
}

export declare namespace Batches {
  export {
    type AddBatchInputRequest as AddBatchInputRequest,
    type AddBatchesToProductionRunRequest as AddBatchesToProductionRunRequest,
    type BatchCreateParams as BatchCreateParams,
    type BatchListParams as BatchListParams,
  };
}
