// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../../core/resource';
import * as AgentsAPI from '../agents';
import * as MemoriesAPI from '../memories';
import * as RolesAPI from '../../identity/roles';
import * as ActionsAPI from './actions';
import { ActionAcknowledgeParams, Actions } from './actions';
import * as RunsAPI from '../runs/runs';
import { APIPromise } from '../../../core/api-promise';
import { RequestOptions } from '../../../internal/request-options';
import { path } from '../../../internal/utils/path';

/**
 * List, retrieve, and acknowledge agent alerts.
 */
export class Alerts extends APIResource {
  actions: ActionsAPI.Actions = new ActionsAPI.Actions(this._client);

  /**
   * Returns an agent alert by ID.
   *
   * @example
   * ```ts
   * const agentAlert = await client.ai.alerts.retrieve(
   *   'agnf_01jm4r6700f8nwq3v5hx2d9ktp',
   * );
   * ```
   */
  retrieve(
    id: string,
    query: AlertRetrieveParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<AgentAlert> {
    return this._client.get(path`/v1/ai/alerts/${id}`, { query, ...options });
  }

  /**
   * Returns a paginated list of agent alerts for the current account.
   *
   * @example
   * ```ts
   * const alerts = await client.ai.alerts.list();
   * ```
   */
  list(
    query: AlertListParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<AlertListResponse> {
    return this._client.get('/v1/ai/alerts', { query, ...options });
  }
}

/**
 * Reference to an actor (user, API key, or agent).
 */
export interface Actor {
  /**
   * Actor ID.
   */
  id: string;

  /**
   * Human-readable handle (`email` for users, `redacted_value` for API keys, `slug`
   * for agents).
   */
  handle: string | null;

  /**
   * Display name.
   */
  name: string | null;

  /**
   * Resource type identifier.
   */
  object: 'actor';

  /**
   * Role resource.
   */
  role: RolesAPI.Role | null;

  /**
   * Actor type.
   */
  type: 'user' | 'api_key' | 'agent';
}

/**
 * Agent action resource.
 */
export interface AgentAction {
  /**
   * Agent action ID.
   */
  id: string;

  /**
   * When this action was created.
   */
  created_at: string;

  /**
   * Action description.
   */
  description: string | null;

  /**
   * Entity is a polymorphic reference to any resource in the system.
   */
  entity: MemoriesAPI.Entity | null;

  /**
   * Error message if the action failed.
   */
  error_message: string | null;

  /**
   * When the action was executed.
   */
  executed_at: string | null;

  /**
   * Action input. Encoded as a JSON value (object, array, string, number, boolean,
   * or null), not a JSON-encoded string.
   */
  input: unknown | null;

  /**
   * Short label.
   */
  label: string | null;

  /**
   * Resource type identifier.
   */
  object: 'agent_action';

  /**
   * Action output. Encoded as a JSON value (object, array, string, number, boolean,
   * or null), not a JSON-encoded string.
   */
  output: unknown | null;

  /**
   * Whether human review is required.
   */
  requires_review: boolean;

  /**
   * When the action was reviewed.
   */
  reviewed_at: string | null;

  /**
   * Reference to an actor (user, API key, or agent).
   */
  reviewed_by: Actor | null;

  /**
   * Agent run resource.
   */
  run: RunsAPI.AgentRun | null;

  /**
   * Current action status.
   */
  status: 'pending_review' | 'auto_approved' | 'approved' | 'rejected' | 'executed' | 'failed';

  /**
   * Tool slug.
   */
  tool_slug:
    | 'save_memory'
    | 'create_alert'
    | 'search_products'
    | 'list_products'
    | 'lookup_customer'
    | 'create_artifact'
    | 'update_memory'
    | 'delete_memory'
    | 'read_doc'
    | 'fetch_url';

  /**
   * When this action was last updated.
   */
  updated_at: string;
}

/**
 * AgentAlert is an alert generated by an agent.
 */
export interface AgentAlert {
  /**
   * Alert ID.
   */
  id: string;

  /**
   * Acknowledgment timestamp.
   */
  acknowledged_at: string | null;

  /**
   * Reference to an actor (user, API key, or agent).
   */
  acknowledged_by: Actor | null;

  /**
   * Agent action resource.
   */
  action: AgentAction | null;

  /**
   * Creation timestamp.
   */
  created_at: string;

  /**
   * Alert description.
   */
  message: string | null;

  /**
   * Additional metadata as JSON. Encoded as a JSON value (object, array, string,
   * number, boolean, or null), not a JSON-encoded string.
   */
  metadata: unknown | null;

  /**
   * Resource type identifier.
   */
  object: 'agent_alert';

  /**
   * Agent run resource.
   */
  run: RunsAPI.AgentRun | null;

  /**
   * Alert severity.
   */
  severity: 'info' | 'warning' | 'urgent' | 'critical';

  /**
   * Alert status.
   */
  status: 'open' | 'acknowledged';

  /**
   * Alert title.
   */
  title: string;

  /**
   * Last update timestamp.
   */
  updated_at: string;
}

/**
 * List represents a paginated list of resources.
 */
export interface AlertListResponse {
  /**
   * Resources in this page.
   */
  data: Array<AgentAlert>;

  /**
   * Resource type identifier.
   */
  object: 'list';

  /**
   * PageInfo contains URL-based pagination metadata.
   */
  page_info: AgentsAPI.PageInfo;
}

export interface AlertRetrieveParams {
  /**
   * Sub-objects to expand in the response. When omitted, sub-objects are returned as
   * `null`.
   */
  include?: Array<'run' | 'action'>;
}

export interface AlertListParams {
  /**
   * Cursor token used to retrieve the next or previous page of results.
   */
  cursor?: string;

  /**
   * Sub-objects to expand in the response. When omitted, sub-objects are returned as
   * `null`.
   */
  include?: Array<'run' | 'action'>;

  /**
   * Maximum number of results per page (default: 100, max: 1000).
   */
  limit?: number;

  /**
   * Search query used to filter results.
   */
  q?: string;

  /**
   * Filter by severity.
   */
  severity?: 'info' | 'warning' | 'urgent' | 'critical';

  /**
   * Filter by alert status.
   */
  status?: 'open' | 'acknowledged';
}

Alerts.Actions = Actions;

export declare namespace Alerts {
  export {
    type Actor as Actor,
    type AgentAction as AgentAction,
    type AgentAlert as AgentAlert,
    type AlertListResponse as AlertListResponse,
    type AlertRetrieveParams as AlertRetrieveParams,
    type AlertListParams as AlertListParams,
  };

  export { Actions as Actions, type ActionAcknowledgeParams as ActionAcknowledgeParams };
}
